/* Container */
.forget-password-container {
    text-align: center;
    margin-top: 180px;
    margin-left: 80px;
    padding: 20px;
  }

  .forget-password-box{
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    width: 300px;
    text-align: center;
  }
  .forgot-heading{
  color: #000;
  text-decoration: none;
  transition: color 0.2s;
  }

  .forgot-heading:hover {
    color: #666;
  }
  /* Form Styling */
  .forget-password-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin: auto;
  }
  
  /* Input Fields */
  .input-field {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
  }
  
  /* Button */
  .submit-button {
    padding: 10px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .submit-button:hover {
    background-color: #1d1c1c;
  }
  
  .submit-button:disabled {
    background-color: #555;
    cursor: not-allowed;
  }
  
  /* Message Styling */
  .message {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
  }
  