.main-content {
    display: flex;
    flex-direction: column; 
    margin-right: 80px;
    margin-top: 30px;
    align-items: flex-end; 
    height: 100vh; 
    justify-content: space-evenly; 
    gap: 50px; 
}

.upper-content {
    display: flex;
    flex-direction: row; 
    gap: 50px; 
}

.calender, 
.headlines {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); 
    padding: 20px;
    background-color: black;
    color: white;
}

.lower-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 200px;
    margin-bottom: 30px;
    width: 70%;
    border-radius: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); 
    padding: 20px;
    background-color: black;
    color: white;
}