body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #e5e5e5; 
}
  
  .SignUp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 50px;
  }
  
  .SignUp-box {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }

  
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  label {
    font-size: 0.9rem;
    text-align: left;
  }
  
  input {
    padding: 0.4rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .forgot-password {
    text-decoration: none;
    font-size: 0.9rem;
    color: black;
    align-self: center;
    margin-bottom: 1rem;
  }
  
  .SignUp-button {
    padding: 0.5rem;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .SignUp-button:hover {
    background-color: #1d1c1c;
  }
  
  